extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Isaac Chang

        p.lead.text-light
          | Software Engineer | Web Developer | Equity Trader

        .portfolio-bio
          p
            | I am a performance-driven software engineer with a passion for creating performant applications with cutting edge technologies. With mastery in Javascript and HTML/CSS, I have built full stack applications using technologies such as React, Node, Express, and MongoDB. I am looking to contribute to a product that has an impact on the lives of its users and to find a position that presents me with an unending flow of diverse technical challenges.
            br
            br
            | In addition to programming, I am also an equity day trader. I am self taught and currently have over three years of experience. I monitor U.S microeconomic data in order to predict and keep track of market indices. I then initiate trades based on technical analysis as well as event driven stock catalysts.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li React
          li NodeJS
          li Express
          li MongoDB
          li Equity Trading
        h6 Contact Info

        ul
          li isaac.chang5@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/isaacchang5/', target='_blank') LinkedIn
        a.button.expanded(href='https://github.com/meltedopen', target='_blank') GitHub
        a.button.expanded(href='https://twitter.com/BlindPigDog', target='_blank') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  